#gameContainer {
  background-image: url(./assets/background.jpg);
}

#flashlight {
  /* background: radial-gradient(circle at var(--x) var(--y), transparent 2%, #000000f2 8%); */
  background: radial-gradient(circle at var(--x) var(--y), transparent 2%, rgba(0, 0, 0, 0.99) 8%);
}

.jumpscare {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vh !important; /* Full width */
  height: 100vh !important; /* Full height */
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  z-index: 1000; /* Ensure it's above everything else */
  opacity: 0; /* Start as transparent */
}